@font-face {
  font-family: "Albert";
  src: url("../fonts/Albert-ExtraBold.otf");
}

@font-face {
  font-family: "Julius";
  src: url("../fonts/Julius-Regular.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Tinos";
  src: url("../fonts/Tinos-Regular.ttf");
}
